.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
body {
  background-image: url("images/background.jpg");
    color:white;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}